/*firebase化*/
/*firebase化追記分*/
h1{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 800;
}
h2{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
}

#more button{
  z-index: 10000;
  display: block;
  margin: 1rem auto;
  width: 150px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  background-color: #06c;
  color: white;
  border-radius: 20px;
  line-height: 40px;
  letter-spacing: .5px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 25%);
}
#more button:hover{
  background-color: #0080ff;
}
section.topics {
  opacity: 1;
  transition: all 0.4s ease 0s;
}
section.topics.is-hidden {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
section.topics.is-hidden *{
  display: none;
}

/*ここまで*/


@media screen and (min-width: 768px) {
  .main h1{
    margin: 15px 5px 0 15px;
    font-size: 32px;
  }

  section{
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    margin: 20px 0;
  }
  section h2{
    font-size: xx-large;
    border-left: #252525 5px solid;
    padding-left: 7px;
    margin-bottom: 0.5em;
  }
  
  /*topics*/
  section.topics .headimg{
    float: right;
    width: 260px;
    height: 300px;
    background-image: url(/common/spin-gray.svg);
    background-position: center center;
    background-size: 20%;
    background-repeat: no-repeat;
  }
  section.topics .headimg img{
    width: 260px;
    height: 300px;
  }
  section.topics .item-list{
    min-height: 250px;
  }
  section.topics .item-list p{
    display: block;
    color: #252525;
    padding: 16px 24px 16px 8px;
    border-bottom: 1px solid #e5e5e5;
  }
  section.topics .item-list p span{
    border: 1px #252525 solid;
    color: #252525;
    border-radius: 2px;
    font-size: 12px;
    padding: 0 3px;
    margin: 0 5px ;
  }
  section.topics .item-list p:last-child{
    display: block;
    color: #252525;
    padding: 16px 24px 16px 8px;
    border-bottom: none;
    text-align: right;
  }
  section.topics .item-list a{
    color: #fff !important;
    background-color: #06c;
    padding: 8px 24px 8px 24px;
    margin-right: 24px;
    border-radius: 4px;
  }
  section.topics .item-list a:hover{
    color: #fff;
    background-color: #0080ff !important;
  }
}

@media screen and (max-width: 767px) {
  .main h1{
    margin: 15px 5px 0 15px;
    font-size: 18px;
    font-weight: bold;
  }

  section.topics .headimg{
    display: none;
  }

  section{
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    margin: 20px 5px;
  }
  section h2{
    border-left: #252525 5px solid;
    padding-left: 7px;
    margin-bottom: 0.5em;
    font-size: 18px;
    font-weight: bold;
  }

  section.topics .item-list p{
    font-size: 14px;
    display: block;
    color: #252525;
    padding: 8px;
    border-bottom: 1px solid #e5e5e5;
    line-height: initial;
  }
  section.topics .item-list p span{
    border: 1px #252525 solid;
    color: #252525;
    border-radius: 2px;
    font-size: 8px;
    padding: 0 3px;
    margin: 0 5px ;
  }
  section.topics .item-list p:last-child{
    display: block;
    color: #252525;
    padding: 16px 24px 16px 8px;
    border-bottom: none;
    text-align: right;
  }
  section.topics .item-list a{
    color: #fff !important;
    background-color: #0080ff;
    padding: 8px 24px 8px 24px;
    border-radius: 4px;
    font-weight: bold;
  }
}