.main h1{
  font-weight: 700;
  font-size: xx-large;
}

.watch{
  text-align: center;
  margin: 10px;
}
.watch ul li{
  display: inline-block;
}
.watch ul#images img{
  max-height: 250px;
}

.watch p{
  margin: 15px 0;
  color: #666;
}
.watch p i{
  padding-right: 0.5rem;
}

section{
  padding: 10px;
  margin: 0;
}
section h2{
  font-size: x-large;
  border-left: #252525 5px solid;
  padding-left: 7px;
  margin-bottom: 0.5em;
}


/*topics*/
section#topics_content .item-list p{
  display: block;
  color: #252525;
  padding: 16px 24px 16px 8px;
  border-bottom: 1px solid #e5e5e5;
}
section#topics_content .item-list p span{
  border: 1px #252525 solid;
  color: #252525;
  border-radius: 2px;
  font-size: 12px;
  padding: 0 3px;
  margin: 0 5px ;
}
.a2a_kit{
  padding: 0 15px 30px 40px;
  background: white;
}

/*url*/
section#url_content .item-list a,section#url_content .item-list a:visited{
  display: block;
  color: #0080ff;
  padding: 16px 24px 16px 8px;
  border-bottom: 1px solid #e5e5e5;
}
section#url_content .item-list a:hover{
  text-decoration: underline;
  background: #F4F4F4;
}
section#url_content .item-list a::after{
  font-family: "Font Awesome 5 Free" ;
  content: "\f35d";
  font-weight: 900;
  padding-left: 5px;
}







/*tabs*/
/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
  border-radius: 5px;
}

/*タブのスタイル*/
.tab_item {
  border-radius: 5px 5px 0 0;
  padding: 5px 20px;
  background-color: #F4F4F4;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  background-color: #d4d4d4;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 25px 35px;
  clear: both;
  overflow: hidden;
  background-color: white;
}


/*選択されているタブのコンテンツのみを表示*/
#topics:checked ~ #topics_content,
#vci:checked ~ #vci_content,
#nico:checked ~ #nico_content,
#url:checked ~ #url_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: white;
  color: black;
}

