body{
  background: #F4F4F4;
}
header{
  background: #272727;
}

/*site-header*/
.site-header{
  height: 36px;
  color: white;
  padding: 0 15px;
  max-width: 1152px;
  margin: 0 auto;
}
.site-header ul li{
  line-height: 36px;
  float: left;
}
.site-header ul li a{
  font-size: 92%;
  display: inline-block;
}
.site-header ul li a:hover{
  background: #666;
}
.site-header ul li a span{
  padding: 0 10px 0 10px;
  border-right: #666 solid 1px;
}
.site-header ul li a span.header-nav-last{
  border-right: none;
}
.site-header ul li a span i{
  font-size: 80%;
  padding: 0 5px 0 5px;
}
.site-header-right{
  float: right;
}

/*page-header*/
.page-header{
  display: flex;
  padding: 4px 15px;
  color: white;
  max-width: 1152px;
  margin: 0 auto;
}
.logo{
  margin: 8px 15px 7px;
  font-size: 34px;
  line-height: 40px;
  align-items: center;
  float: left;
  width: 250px;
}
.logo a{
  width: 250px;
  height: 46px;
}
.page-header ul{
  float: left;
  margin-left: 10px;
  padding-top: 12px;
  width: 100%;
}
.page-header ul li{
  line-height: 40px;
  display: inline-block;
}
.page-header ul li a{
  color: #c5c5c5;
  border-radius: 4px;
  display: inline-block;
  padding: 0 10px 0 10px;
  font-weight: 700;
}
.page-header ul li a:hover{
  color: #fff;
  background-color: #404040;
}

.header-read-now{
  float: right;
}
.header-read-now a{
  padding: 0 24px !important;
  text-decoration: none;
  font-weight: 700;
  line-height: 36px;
  color: #fff !important;
  background-color: #06c;
}
.header-read-now a:hover{
  color: #fff;
  background-color: #0080ff !important;
}

/*main*/
.main{
  margin: 20px auto;
  max-width: 1024px;
}

/*footer*/
footer{
  background: #272727;
  margin: 0 auto;
}
.footer-wrap{
  max-width: 1152px;
  padding: 30px 15px;
  margin: 0 auto;
  text-align: center;
}
.footer{
  color: white;
  display: inline-block;
  vertical-align: top;
  width: 49.5%;
  text-align: left;
  margin-bottom: 15px;
}
.footer h3{
  font-size: larger;
  border-left: white 3px solid;
  padding-left: 7px;
  margin-bottom: 1em;
}
.footer p{
  padding: 15px;
}
.footer.staff h4 {
  border-bottom: 1px solid #666;
  padding-left:  1rem;
  width: 300px;
}
.footer.staff p {
  margin: 0 0 5px 1rem;
  font-size: large;
}
.footer.staff p a{
  margin: 0 3px;
  font-size: 75%;
}
.footer .footer-discord{
  margin: 8px 12px 16px 12px !important;
  padding: 8px 16px ;
  text-decoration: none;
  font-weight: 700;
  line-height: 36px;
  color: #fff !important;
  background-color: #06c;
  border-radius: 2px;
}
.footer .footer-discord:hover{
  color: #fff;
  background-color: #0080ff !important;
}

footer small{
  color: white;
  margin: 10px auto;
}