@media screen and (min-width: 768px) {
  section.topics .headimg{
    float: right;
  }
  section.topics .headimg img{
    width: 260px;
    height: 300px;
  }
  section.topics .item-list{
    min-height: 250px;
  }

  section{
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    margin: 20px 5px;
  }
  section h2{
    font-size: 32px;
    border-left: #252525 5px solid;
    padding-left: 7px;
    margin-bottom: 0.5em;
  }

  .info h3{
    font-size: 18px;
    padding: 0 0 .5rem 0;
    border-bottom: #E5E5E5 2px solid;
  }
  .info h3 i{
    margin: 0 .5rem;
  }
  .info a{
    display: inline-block;
    width: 100%;
    font-size: 16px;
    margin-top: .25rem;
    padding: .75rem 0 .75rem 1rem;
    color: #0080ff;
  }
  .info a:hover{
    background-color: #F4F4F4;
  }
  .info p.text{
    display: inline-block;
    width: 100%;
    font-size: 16px;
    margin-top: .25rem;
    padding: .75rem 0 .75rem 1rem;
  }

  section.topics .item-list p{
    display: block;
    color: #252525;
    padding: 16px 24px 16px 8px;
    border-bottom: 1px solid #e5e5e5;
    line-height: initial;
  }
  section.topics .item-list p span{
    border: 1px #252525 solid;
    color: #252525;
    border-radius: 2px;
    font-size: 12px;
    padding: 0 3px;
    margin: 0 5px ;
  }
  section.topics .item-list p:last-child{
    display: block;
    color: #252525;
    padding: 16px 24px 16px 8px;
    border-bottom: none;
    text-align: right;
  }
  section.topics .item-list a{
    color: #fff !important;
    background-color: #06c;
    padding: 8px 24px 8px 24px;
    margin-right: 24px;
    border-radius: 4px;
  }
  section.topics .item-list a:hover{
    color: #fff;
    background-color: #0080ff !important;
  }

  section.about p{
    padding: 8px;
  }

  section.post p{
    padding: 8px;
  }
  section.post h3{
    font-size: x-large;
    padding-left: 7px;
    border-bottom: #E5E5E5 2px solid;
    margin: 0.5em auto;
  }
  section.post ul{
    list-style: disc;
    margin: 3px 15px 10px 15px;
    padding: 10px 5px 5px 30px;
  }
  section.post li {
    margin: 5px 0;
  }
  section.post li span{
    border: 1px red solid;
    color: red;
    border-radius: 2px;
    font-size: 12px;
    padding: 0 3px;
    margin: 0 5px 0 0;
  }
  section.post li span.nini{
    border: 1px #252525 solid;
    color: #252525;
    border-radius: 2px;
    font-size: 12px;
    padding: 0 3px;
    margin: 0 5px 0 0;
  }
  section.post a.post-form {
    color: #fff !important;
    background-color: #06c;
    padding: 8px 24px 8px 24px;
    margin-right: 24px;
    border-radius: 4px;
    margin: 20px 10px;
  }
  section.post a.post-form:hover {
    color: #fff;
    background-color: #0080ff !important;
  }
}


@media screen and (max-width: 767px) {
  .info h3{
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 .5rem 0;
    border-bottom: #E5E5E5 2px solid;
  }
  .info h3 i{
    margin: 0 .5rem;
  }
  .info a{
    display: inline-block;
    width: 100%;
    font-size: 14px;
    margin-top: .25rem;
    padding: .75rem 0 0 1rem;
    color: #0080ff;
  }


  section.topics .headimg{
    display: none;
  }

  section{
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    margin: 20px 5px;
  }
  section h2{
    border-left: #252525 5px solid;
    padding-left: 7px;
    margin-bottom: 0.5em;
    font-size: 18px;
    font-weight: bold;
  }

  section.topics .item-list p{
    font-size: 14px;
    display: block;
    color: #252525;
    padding: 8px;
    border-bottom: 1px solid #e5e5e5;
    line-height: initial;
  }
  section.topics .item-list p span{
    border: 1px #252525 solid;
    color: #252525;
    border-radius: 2px;
    font-size: 8px;
    padding: 0 3px;
    margin: 0 5px ;
  }
  section.topics .item-list p:last-child{
    display: block;
    color: #252525;
    padding: 16px 24px 16px 8px;
    border-bottom: none;
    text-align: right;
  }
  section.topics .item-list a{
    color: #fff !important;
    background-color: #0080ff;
    padding: 8px 24px 8px 24px;
    border-radius: 4px;
    font-weight: bold;
  }

  section.about p{
    padding: 8px;
    font-size: 14px;
    line-height: initial;
  }

  section.post p{
    padding: 8px;
    font-size: 14px;
    line-height: initial;
  }
  section.post h3{
    font-size: 18px;
    padding-left: 7px;
    border-bottom: #E5E5E5 2px solid;
    margin: 0.5em auto;
  }
  section.post ul{
    list-style: disc;
    margin: 3px 15px 10px 10px;
    padding: 10px 5px 5px 20px;
    line-height: initial;
  }
  section.post li {
    margin: 5px 0;
  }
  section.post li span{
    border: 1px red solid;
    color: red;
    border-radius: 2px;
    font-size: 12px;
    padding: 0 3px;
    margin: 0 5px 0 0;
  }
  section.post li span.nini{
    border: 1px #252525 solid;
    color: #252525;
    border-radius: 2px;
    font-size: 12px;
    padding: 0 3px;
    margin: 0 5px 0 0;
  }
  section.post a.post-form {
    color: #fff !important;
    font-weight: bold;
    background-color: #0080ff;
    padding: 8px 24px 8px 24px;
    margin-right: 24px;
    border-radius: 4px;
    margin: 20px 10px;
  }
}