hr{
  border: 0.25px solid #E5E5E5;
  margin: 0.5em 0;
}

.headimg{
  text-align: center;
}
.headimg img{
  width: 80%;
  border: 1px solid #999;
}

section a{
  display: block;
  color: #0080FF;
  padding: 8px 24px 8px 8px;
  line-height: 1.5rem;
}
section a:hover{
  text-decoration: underline;
}
section * i{
  margin: 0 0.5em;
}

@media screen and (min-width: 768px) {
  .main h1{
    margin: 15px 5px 0 15px;
    font-size: 32px;
  }

  section{
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    margin: 20px 0;
  }
  section h2{
    font-size: xx-large;
    border-left: #252525 5px solid;
    padding-left: 7px;
    margin-bottom: 0.5em;
  }
  
  /*topics*/
  section.topics .item-list p{
    display: block;
    color: #252525;
    padding: 4px 24px 4px 8px;
    line-height: 1.5rem;
  }
  section.topics .item-list p span{
    border: 1px #252525 solid;
    color: #252525;
    border-radius: 2px;
    font-size: 12px;
    padding: 0 3px;
    margin: 0 5px ;
  }
  section.topics .item-list p:first-child{
    display: block;
    color: #252525;
    padding: 12px 24px 4px 8px;
    line-height: 1.5rem;
  }
  section.topics .item-list p:last-child{
    display: block;
    color: #252525;
    padding: 16px 24px 16px 8px;
    border-top: 1px solid #e5e5e5;
    text-align: right;
  }
}

@media screen and (max-width: 767px) {
  .main h1{
    margin: 15px 5px 0 15px;
    font-size: 18px;
    font-weight: bold;
  }

  section.topics .headimg{
    display: none;
  }

  section{
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    margin: 20px 5px;
  }
  section h2{
    border-left: #252525 5px solid;
    padding-left: 7px;
    margin-bottom: 0.5em;
    font-size: 18px;
    font-weight: bold;
  }

  section.topics .item-list p{
    font-size: 14px;
    display: block;
    color: #252525;
    padding: 8px;
    
    line-height: initial;
  }
  section.topics .item-list p span{
    border: 1px #252525 solid;
    color: #252525;
    border-radius: 2px;
    font-size: 8px;
    padding: 0 3px;
    margin: 0 5px ;
  }
  section.topics .item-list p:last-child{
    display: block;
    color: #252525;
    padding: 16px 24px 16px 8px;
    border-top: 1px solid #e5e5e5;
    text-align: right;
  }
}