.admin_container{
  width: 100%;
  margin: 0 auto;
}


/* header */
.admin_header{
  box-shadow: 0px 3px 16px -6px rgba(0,0,0,0.6);
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

.admin_header .title_area{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  height: 35px;
  align-items: center;
}
.admin_header .title_area h1{
  display: inline;
  font-size: 22px;
  font-weight: bold;
}
.admin_header .login_area{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  height: 35px;
  align-items: center;
}
.admin_header .login_area>div{
  display: flex;
  justify-content: flex-end
}
.admin_header .login_area p{
  padding: .5em 1em;
  margin: 0 .25em;
}
.admin_header .login_area a,
.admin_header .login_area button{
  padding: .5em 1em;
  margin: 0 .5em;
  background-color: #0080ff;
  border-radius: 5px;
  color: white;
}
.admin_header .login_area a:hover,
.admin_header .login_area button:hover{
  opacity: .8;
}

/* login */
.auth_login_container{
  margin: 3em;
}



/* main */
.admin_container main,
.admin_container section{
  margin: 2em;
}


section .no_login{
  display: flex;
  margin: 3em;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

section .no_login h2{
  font-size: 24px;
  font-weight: bold;
}
section .no_login img{
  width: 150px;
  margin: 1em;
}


/*  console top */
main.console_top{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
main.console_top h2{
  font-size: 24px;
  font-weight: bold;
  margin: 1em;
}
main.console_top .menu_wrap{
  min-width: 960px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 1em;
}
main.console_top .menu_wrap a{
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0080ff;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
}
main.console_top .menu_wrap a:hover{
  opacity: .8;
}

main.console_top .alladmin{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  line-height: 1.7;
}
main.console_top .alladmin h3{
  font-size: 22px;
  font-weight: bold;
}
main.console_top .alladmin a:first-of-type{
  margin-top: 1em;
}
main.console_top .alladmin a{
  color: #0080ff;
}
main.console_top .alladmin a:hover{
  opacity: .8;
  text-decoration: underline;
}


/* console list */
main.console_list{
  margin: 0;
}
main.console_list .list_header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid #ccc;
  padding: .5em 1em 1em;
}
main.console_list .list_header h3{
  font-size: 18px;
  font-weight: bold;
  padding: .5em 0;
  margin: 0 .5em;
}
main.console_list .list_header .wrap{
  width: 45%;
  display: flex;
  justify-content: flex-start;
}
main.console_list .list_header .wrap:nth-child(2n){
  justify-content: flex-end;
}
main.console_list .list_header .wrap a{
  display: block;
  padding: .5em 1em;
  margin: 0 .5em;
  background-color: #0080ff;
  border-radius: 5px;
  color: white;
}
main.console_list .list_header .wrap a:hover{
  opacity: .8;
}

main.console_list .list_item{
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
main.console_list .list_item:hover{
  background-color: #fafafa;
}
main.console_list .list_item .id{
  width: 5%;
  min-width: 100px;
}
main.console_list .list_item .title{
  width: 65%;
  height: 1.2em;
  display: flex;
}

main.console_list .list_item .title>span{
  margin: 0 1em 0 0;
  width: 50%;
  height: 1.2em;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
main.console_list .list_item .title>span>span{
  font-size: 80%;
  border-radius: 2.5px;
  border: 1px solid #666;
  padding: .05em .25em;
  margin: .5em;
}
main.console_list .list_item .date{
  width: 7.5%;
  min-width: 100px;
}
main.console_list .list_item .link{
  width: 5%;
  text-align: center;
}


/* editor news */
main.console_edit{
  margin: 0;
}
main.console_edit .editor_header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid #ccc;
  padding: .5em 1em 1em;
}
main.console_edit .editor_header h3{
  font-size: 18px;
  font-weight: bold;
  padding: .5em 0;
  margin: 0 .5em;
}
main.console_edit .editor_header .wrap{
  width: 45%;
  display: flex;
  justify-content: flex-start;
}
main.console_edit .editor_header .wrap:nth-child(2n){
  justify-content: flex-end;
}
main.console_edit .editor_header .wrap button{
  display: block;
  padding: .5em 1em;
  margin: 0 .5em;
  background-color: #0080ff;
  border-radius: 5px;
  color: white;
}
main.console_edit .editor_header .wrap button.cansel{
  background-color: #ddd;
  border: 1px solid #ccc;
  color: #666;
}
main.console_edit .editor_header .wrap button:hover{
  opacity: .8;
}

main.console_edit .editor_body{
  display: flex;
  justify-content: center;
  margin: 1em 0;
}
main.console_edit .editor_body .input_area{
  width: 47.5%;
  border-right: 1px solid #ccc;
  padding: 1em;
}
main.console_edit .editor_body .input_area .input_title,
main.console_edit .editor_body .input_area .input_date,
main.console_edit .editor_body .input_area .input_text{
  margin: 0 1em 1em;
  padding: .25em 1em;
  display: flex;
  align-items: center;
}
main.console_edit .editor_body .input_area .input_title label,
main.console_edit .editor_body .input_area .input_date label,
main.console_edit .editor_body .input_area .input_text label{
  width: 20%;
}
main.console_edit .editor_body .input_area .input_title input,
main.console_edit .editor_body .input_area .input_date input,
main.console_edit .editor_body .input_area .input_text input{
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 1em;
  padding: .5em 1em;
  width: 80%;
}
main.console_edit .editor_body .input_area .input_text input[type="file"]{
  cursor: pointer;
}
main.console_edit .editor_body .input_area .input_title input:disabled,
main.console_edit .editor_body .input_area .input_date input:disabled,
main.console_edit .editor_body .input_area .input_text input:disabled{
  background: #ddd;
}
main.console_edit .editor_body .input_area .input_text{
  padding: .25em 1em;
  display: flex;
  align-items: center;
}
main.console_edit .editor_body .input_area .input_text textarea{
  font-family: ui-monospace,SFMono-Regular,SF Mono,Consolas,Liberation Mono,Menlo,monospace;
  font-weight: lighter;

  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 1em;
  padding: .5em 1em;
  width: 95%;
  height: 100%;
}
main.console_edit .editor_body .input_area #input_imgs{
  display: flex;
  flex-direction: column;
}
main.console_edit .editor_body .input_area #input_imgs_form .submit_button_wrapper{
  display: flex;
  justify-content: flex-end;
  padding: .25em 1em;
}
main.console_edit .editor_body .input_area #input_imgs_form .submit_button_wrapper button{
  padding: .5em 1em;
  margin: 0 .5em;
  background-color: #0080ff;
  border-radius: 5px;
  color: white;
}
main.console_edit .editor_body .input_area #input_imgs_form .submit_button_wrapper button:hover{
  opacity: .8;
}


main.console_edit .editor_body .view_area{
  width: 47.5%;
  padding: 1em;
}
main.console_edit .editor_body .view_area .news_contents{
  margin: .25em 1em .25em 2em;
}

main.console_edit .editor_body hr{
  border: 0.25px solid #ddd;
  margin: 1.5em 0;
}
main.console_edit .editor_body details summary{
  margin: 0 0 .75em;
  padding: .25em .5em;
  cursor: pointer;
}


/* news container */
main.console_edit .news_page .news_contents{
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
  padding: 2em;
}

main.console_edit .news_page .news_contents h2.title{
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 .5em;
}
main.console_edit .news_page .news_contents p.date{
  color: #666;
  font-size: 14px;
  padding-bottom: .5em;
  border-bottom: 1px solid #999;
}

main.console_edit .news_page .news_contents .news_content_area{
  margin: 1.5em 0 0;
  line-height: 1.7;
}

main.console_edit .news_content_area p{
  font-size: 16px;
  margin: .75em 0;
}
main.console_edit .news_content_area h3{
  font-size: 18px;
  background: linear-gradient(0deg, #bae4f8, #bae4f8 50%, transparent 50%, transparent 100%);
  font-weight: bold;
  margin: 1.25em 0 .5em;
  padding: 0 .5em;
  display: inline-block;
}

main.console_edit .news_content_area a{
  color: #0080ff;
  text-decoration: underline;
}
main.console_edit .news_content_area a:hover{
  opacity: .8;
  text-decoration: none;
}

main.console_edit .news_content_area ul{
  padding-left: 1.5em;
}
main.console_edit .news_content_area li{
  list-style: disc;
  margin: .75em 0;
}
main.console_edit .news_content_area hr{
  border: 0.25px solid #ddd;
  margin: 1.5em 0;
}
main.console_edit .news_content_area img{
  width: 100%;
  height: auto;
}

main.console_edit .news_content_area #thumbnail{
  width: 75%;
  height: 75%;
  border: 1px solid #ddd;
  margin: 0 auto;
}
main.console_edit .news_content_area .thumbnail_hide{
  display: none;
}

/* content view */
main.console_edit #WatchApp .page_title{
  font-weight: bold;
}
main.console_edit #WatchApp .watch_area{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 25vh;
  height: auto;
}
main.console_edit #WatchApp .watch_area img{
  width: 25%;
  object-fit: contain;
  border: none;
}
main.console_edit #WatchApp .watch_area img:not([src]){
  display: none;
}
main.console_edit #WatchApp section{
  margin: .5em;
}
main.console_edit #WatchApp .tab_area .tab_wrap button{
  padding: .5em 1em;
  font-size: 14px;
}
main.console_edit #WatchApp .tab_area .section_wrap{
  padding: .5em;
}
main.console_edit #WatchApp .section_wrap .tab_content h2{
  font-size: 16px;
}
main.console_edit #WatchApp .section_wrap .tab_content .item_list p{
  margin: 0;
  font-size: 16px;
}
main.console_edit #WatchApp .section_wrap .tab_content .iframe_list a{
  border: 1px solid #eee;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
#WatchApp .section_wrap .tab_content#nico_content .iframe_list{
  justify-content: flex-start;
}