.hide{
  display: none !important;
}

body{
  background-image: url("/special/cho-v-pickup/bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% top;
}

.main div{
  background-color:rgba(255,255,255,0.5);
  padding: 1rem;
  border-radius: 5px;
  margin: 0.5rem;
}
.main .top, #index{
  text-align: center;
}
.main .top p{
  margin: 1rem;
}
.main .top h1{
  margin: 1rem auto !important;
  font-weight: bold;
  font-size: 24px;
}
.red {
  color: red;
}

.main #index a{
  display: inline-block;
  margin: auto 1rem;
}
.main #index a:hover{
  text-decoration: underline;
}
.main #index a::before{
  content:"▶";
  margin: auto 1px;
}

h2{
  font-size: 20px;
  font-weight: bold;
  padding-left: 5px;
  margin-bottom: .75rem;
  border-left: 3px red solid;
}
#about p, #howto p, #schedule p{
  margin: 0.75rem auto;
  line-height: 1.5;
}

.main ul, .main ol {
  padding: 0.5em 0.5em 0.5em 2em;
}
.main ul li,.main ol li {
  line-height: 1.5;
  padding: 0.5rem 0;
  list-style-type: disc;
}

.form{
  display: inline-block;
  margin: 1rem auto;
  text-align: center;
  background-color: #06c;
  padding: 0.5rem 2rem;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  line-height: 36px;
}
.form:hover{
  background-color: #0080ff !important;
}

.kikaku{
  display: inline-block;
  width: calc(100% / 3 - 24px);
  max-width: 49.5%;
  height: 400px;
  vertical-align : top;	
  background-color:rgba(255,255,255,0.5);
  padding: 1rem;
  border-radius: 5px;
  margin: 0.5rem;
  position: relative;
}
.kikaku:hover{
  background-color:rgba(255,255,255,0.75);
}
.kikaku img{
  margin: .25rem .25rem;
  text-align: center;
  width: calc(100% - 8px);
  border-radius: 5px;
}
.main h3{
  font-weight: bold;
  margin: .5rem 0;
}
.kikaku span{
  display: inline-block;
  font-size: .9rem;
  margin: .25rem .15rem;
  padding: .25rem;
  color: red;
  border: .5px red solid;
  border-radius: 5px;
}
.kikaku p{
  font-size: .95rem;
  padding: .25rem 0;
}

hr{
  border-top: 2px dashed rgba(255,255,255,0.75);
  margin: 1rem auto;
}

.top img{
  max-width: 100%;
  max-height: 410px;
}
.gaiyo p{
  margin: .75rem auto;
}
.gaiyo h3{
  margin-top: 3rem;
}

.twitter-tweet{
  background: none !important;
}

.userlink{
  height: auto !important;
  width: calc(100% / 2 - 24px);
  vertical-align: top;
}
.userlink:hover{
  background-color:rgba(255,255,255,0.5);
}
.userlink img{
  width: 100px;
  float: left;
  margin: auto 1rem auto auto;
}
.userlink p{
  vertical-align: top;
  margin-top: 0;
  font-weight: bold;
}
.userlink a{
  display: block;
  margin: .5rem .25rem;
  color: #0080ff;
}
.userlink a i{ 
  margin: auto .25rem;
}
.userlink a:hover{
  text-decoration: underline;
}
p.time, p.type{
  font-size: .8rem;
  position: absolute;
  bottom: 8px;
}
p.time{
  right: 16px;
}
.next{
  float: right;
  padding: 4px 8px;
  color: #0080ff;
  text-decoration: underline;
}
@media screen and (max-width: 791px){
  .main div{
    padding: 1rem .5rem;
  }
  .kikaku{
    width: calc(100% - 24px);
    max-width: calc(100% - 24px);
    padding: .5rem;
  }
  .kikaku img{
    width: 100%;
    margin: 0;
  }
  .userlink img{
    width: 100px;
    float: left;
    margin: auto 1rem auto auto;
  }
  .next{
    display: none;
  }
}